# 處理 CSV 檔案

處理csv檔案，有兩種常見的方式。先講述第一種我們之前學過的，使用檔案讀取，然後使用split。第二種使用pandas創造dataframe.

1. read file and split
2. pandas

In [1]:
# 檔案來源
# https://data.gov.tw/dataset/161693

with open('resources/11201結婚.csv', 'rb') as file_in:
    lines = file_in.readlines()
    lines = [e.decode('utf-8') for e in lines]

In [12]:
for each in lines:
    # 用逗號來分隔
    parts = each.split(',')
    
    # do something
    
    # print
    print(parts[0], ' | ',parts[1])

區別  |  對數

桃園區  |  236

中壢區  |  203

大溪區  |  39

楊梅區  |  73

蘆竹區  |  80

大園區  |  46

龜山區  |  72

八德區  |  104

龍潭區  |  55

平鎮區  |  97

新屋區  |  13

觀音區  |  33

復興區  |  9

In [14]:
import pandas

dataframe = pandas.read_csv('resources/11201結婚.csv')
dataframe

     區別   對數
0   桃園區  236
1   中壢區  203
2   大溪區   39
3   楊梅區   73
4   蘆竹區   80
5   大園區   46
6   龜山區   72
7   八德區  104
8   龍潭區   55
9   平鎮區   97
10  新屋區   13
11  觀音區   33
12  復興區    9